.commented {
  color: var(--c-text-secondary);
}

.commented::before {
  content: "//\00a0"
}

.french-emphasized:lang(fr) {
  font-style: italic;
}

.masked {
  background: linear-gradient(to right, currentColor 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: background 0.75s ease-in-out;
}

.masked:hover {
  background-position: right bottom;
}
