.email + .email {
  margin-top: 1px;
}

.email--perso .email-username::before,
.email--univ .email-username::before {
  content: "adrien.bougouin";
}

.email--work .email-username::before {
  content: "adrien";
}

.filtered-view .filtered-view__content {
  display: none;
}

.filtered-view--all .filtered-view__content,
#publications.filtered-view--english-only .filtered-view__content--english,
#publications.filtered-view--french-only .filtered-view__content--french {
  display: revert;
}

.group-section__nav {
  display: flex;
}

.group-section__nav__selector {
  --border-color: var(--c-background-hl);

  flex: 0 0 auto;
  border-bottom: solid 2px;
  border-image: linear-gradient(
    to right,
    transparent 5%,
    var(--border-color) 5% 95%,
    transparent 95%
  );
  border-image-slice: 1;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: calc(var(--gutter-size) / 4);
  color: var(--c-text-secondary);
}

.group-section__nav__selector:not(:first-child) {
  margin-left: var(--gutter-size);
}

.group-section__nav__selector:hover {
  cursor: pointer;
  color: revert;
}

.group-section--experience .group-section__nav__selector--experience,
.group-section--publications .group-section__nav__selector--publications {
  --border-color: var(--c-accent);

  color: revert;
  cursor: revert;
}

.group-section .group-section__content {
  display: none;
}

.group-section--experience .group-section__content--experience,
.group-section--publications .group-section__content--publications {
  display: revert;
}

.item-list {
  padding: 0;
  list-style: none;
}

.item-list li:not(:first-child) {
    margin-top: var(--gutter-size);
}

.item-list__entry {
  --border-width: 2px;
  --border-spacing: calc((1ch / 2) - (var(--border-width) / 2));

  margin-left: var(--border-spacing);
  border-left: solid var(--border-width) var(--c-accent);
  padding-left: var(--border-spacing);
}

.item-list__entry__header + .item-list__entry__content,
:where(.item-list__entry__header, .item-list__entry__content) + .item-list__entry__footer {
  margin-top: var(--gutter-size);
}

.language-selectors {
  display: inline-flex;
  background: var(--c-accent);
}

.language-selectors .wovn-logo {
  display: inline-block;
  width: 2ch;
  padding: 0.5ch 1ch;
}

.language-selectors .wovn-logo svg {
  width: 100%;
  fill: var(--c-background);
}

.language-selectors .selector {
  border-color: var(--c-text-primary);
}

.language-selectors .selector:hover,
.language-selectors .selector--en:lang(en),
.language-selectors .selector--fr:lang(fr) {
  background: var(--c-text-primary);
  color: var(--c-background);
}

.score-ladder {
  --border-width: 1px;
  --c-lvl1: var(--c-background-hl);
  --c-lvl2: var(--c-background-hl);
  --c-lvl3: var(--c-background-hl);
  --c-lvl4: var(--c-background-hl);
  --c-lvl5: var(--c-background-hl);

  display: inline-block;
  border: solid 1px var(--c-text-primary);
  width: calc(5ch - (var(--border-width) * 2));
  height: 1ch;

  background: linear-gradient(
    to right,
    var(--c-lvl1) 0 calc(1ch - var(--border-width)),
    var(--c-lvl2) calc(1ch - 1px) 2ch,
    var(--c-lvl3) 2ch 3ch,
    var(--c-lvl4) 3ch 4ch,
    var(--c-lvl5) 4ch calc(5ch - var(--border-width))
  );
}

.score-ladder--lvl1 {
  --color: var(--c-solarized-red);

  --c-lvl1: var(--color);
}

.score-ladder--lvl2 {
  --color: var(--c-solarized-red);

  --c-lvl1: var(--color);
  --c-lvl2: var(--color);
}

.score-ladder--lvl3 {
  --color: var(--c-solarized-yellow);

  --c-lvl1: var(--color);
  --c-lvl2: var(--color);
  --c-lvl3: var(--color);
}

.score-ladder--lvl4 {
  --color: var(--c-solarized-green);

  --c-lvl1: var(--color);
  --c-lvl2: var(--color);
  --c-lvl3: var(--color);
  --c-lvl4: var(--color);
}

.score-ladder--lvl5 {
  --color: var(--c-solarized-green);

  --c-lvl1: var(--color);
  --c-lvl2: var(--color);
  --c-lvl3: var(--color);
  --c-lvl4: var(--color);
  --c-lvl5: var(--color);
}

.selector {
  display: inline-block;
  border: solid 1px var(--c-background-hl);
  border-radius: 0;
  padding: calc(0.5ch - 1px) calc(1ch - 1px);
  background: var(--c-background);
  color: var(--c-text-secondary);
  cursor: pointer;
}

.selector-sequence {
  display: inline-flex;
}

.selector-sequence .selector + .selector {
  border-left: none;
  padding-left: 1ch;
}

.selector:hover,
.background--light .selector--light,
.background--dark .selector--dark,
.filtered-view--all .selector--all,
.filtered-view--english-only .selector--english-only,
.filtered-view--french-only .selector--french-only {
  background: var(--c-background-hl);
  color: var(--c-text-primary);
}

.selector--en:lang(en):hover,
.selector--fr:lang(fr):hover,
.background--light .selector--light:hover,
.background--dark .selector--dark:hover,
.filtered-view--all .selector--all:hover,
.filtered-view--english-only .selector--english-only:hover,
.filtered-view--french-only .selector--french-only:hover {
  cursor: revert;
}

.tag {
  display: inline-block;
  border: solid 1px var(--c-background);
  padding: calc(0.5ch - 1px) calc(1ch - 1px);;
  color: var(--c-text-secondary);
  background-color: var(--c-background-hl);
}

.tooltip-anchor {
  position: relative;
}

.tooltip-anchor .tooltip {
  display: none;
}

.tooltip-anchor:hover > .tooltip {
  --vertical-spacing-unit: 1ch;

  z-index: 1;
  display: inline-block;
  position: absolute;
  padding: var(--vertical-spacing-unit) 1ch;
  background-color: var(--c-background-hl);
  color: var(--c-text-primary);
  text-align: center;
}

.tooltip-anchor:hover > :where(.tooltip:not(.tooltip--bottom), .tooltip--top) {
  bottom: 100%;
}

.tooltip-anchor:hover > .tooltip--bottom {
  top: 100%;
}

.tooltip-anchor:hover > :where(.tooltip:not(.tooltip--left), .tooltip--right) {
  left: 0;
}

.tooltip-anchor:hover > .tooltip--left {
  right: 0;
  width: max-content;
}

.item-list__entry__footer .tooltip-anchor:hover > .tooltip {
  --vertical-spacing-unit: var(--gutter-size);
}
