.emoji {
  display: inline-block;
  width: 2ch;
  text-align: center;
}

.emoji.smiling-face-emoji--with-halo:after {
  content: '\1F607';
}

.emoji.grinning-face-emoji--with-sweat:after {
  content: '\1F605';
}
