@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material_icons.woff2) format('woff2');
}

.icon::after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2ch;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

.icon.bib-icon::after {
  content: "\e244";
}

.icon.dark-mode-icon::after {
  content: "\e51c";
}

.icon.download-icon::after {
  content: "\f000";
}

.icon.external-link-icon::after {
  content: "\e895";
  vertical-align: bottom;
}

.icon.info-icon::after {
  content: "\e88e";
}

.icon.light-mode-icon::after {
  content: "\e518";
}

.icon.paper-icon::after {
  content: "\e873";
}

.icon.poster-icon::after {
  content: "\e3f4";
}

.icon.slides-icon::after {
  content: "\e41b";
}

.icon.thanks-icon::after {
  content: "\e87d";
}

.icon.thesis-icon::after {
  content: "\e873";
}
