body {
  background-color: #eeeeee;
}

header img.img-profile {
  border: 10px solid #ffffff;
  margin-top: 25px;
}

.small-caps {
  font-variant: small-caps;
}

ul.contact-information {
  list-style-type: none;
  padding-left: 0;
}

ul.contact-information > li {
  font-style: italic;
}

.block-info {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #cccccc;
}
.block-info p:last-child,
.block-info ul:last-child,
.block-info ol:last-child {
  margin-bottom: 0;
}
.block-info footer,
.block-info small,
.block-info .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}

/* bootstrap */

@media (min-width: 1200px) {
  .container {
    width: 1092px;
  }
}

.jumbotron {
  background: 0;
  padding-bottom: 0;
}

.panel {
  border: 0;
  box-shadow: 0 0 5px 0 #777777;
}

.panel-heading {
  border-bottom: 1px solid #cccccc;
}

.panel-title {
  font-size: 20px;
  font-variant: small-caps;
}

.panel-body {
  font-size: 18px;
}

blockquote {
  border-color: #cccccc;
}

