body {
  background-color: #eeeeee;
}

body > footer {
  color: #5f5f5f;
  padding: 15px 0 35px 0;
}

body > header img.img-profile {
  border: 10px solid #ffffff;
}

body > footer .btn.btn-social-icon {
  border: 0;
  border-radius: 20px;
}

.small-caps {
  font-variant: small-caps;
}

ul.contact-info {
  list-style-type: none;
  padding-left: 0;
}

ul.contact-info > li {
  font-style: italic;
}

.block-info {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #cccccc;
}
.block-info p:last-child,
.block-info ul:last-child,
.block-info ol:last-child {
  margin-bottom: 0;
}
.block-info footer,
.block-info small,
.block-info .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}

.label-as-badge {
  border-radius: 50px;
}

.label-as-badge a {
  color: #ffffff;
}

/* Medium devices (desktops, 992px and up) */
@media(min-width: 992px) {
  #education .panel, #skills .panel {
    height: 660px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media(min-width: 1200px) {
  #education .panel, #skills .panel {
    height: 620px;
  }
}

.thumbnail .caption > h3 {
  margin-top: 0;
}

/* bootstrap */

.jumbotron {
  background: 0;
  padding-bottom: 0;
}

.panel {
  border: 0;
  box-shadow: 0 0 5px 0 #777777;
}

.panel-heading {
  border-bottom: 1px solid #cccccc;
}

.panel-title {
  font-size: 20px;
  font-variant: small-caps;
}

.panel-body {
  font-size: 18px;
}

