button {
  --border-width: 1px;
  --horizontal-spacing-unit: 1ch;

  border: solid 1px var(--c-background-hl);
  padding: calc(0.5ch - var(--border-width)) calc(var(--horizontal-spacing-unit) - var(--border-width));
  background: var(--c-background);
  color: var(--c-text-secondary);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.button-sequence {
  display: inline-block;
  border: solid 1px var(--c-background-hl);
}

.button-sequence button {
  border: none;
}

.button-sequence button + button {
  border-left: solid 1px var(--c-background-hl);
}

button:hover,
.background--light .button--light,
.background--dark .button--dark,
.filtered-view--all .button--all,
.filtered-view--english-only .button--english-only,
.filtered-view--french-only .button--french-only {
  background: var(--c-background-hl);
  color: var(--c-text-bold);
}

.background--light .button--light:hover,
.background--dark .button--dark:hover,
.filtered-view--all .button--all:hover,
.filtered-view--english-only .button--english-only:hover,
.filtered-view--french-only .button--french-only:hover {
  cursor: revert;
}

.email + .email {
  margin-top: 1px;
}

.email--perso .email-username::before,
.email--univ .email-username::before {
  content: "adrien.bougouin";
}

.email--work .email-username::before {
  content: "adrien";
}

.score-ladder {
  --c-lvl1: var(--c-background-hl);
  --c-lvl2: var(--c-background-hl);
  --c-lvl3: var(--c-background-hl);
  --c-lvl4: var(--c-background-hl);
  --c-lvl5: var(--c-background-hl);

  display: inline-block;
  border: solid 1px currentColor;
  width: calc((0.5em * 5) + (1px * 4));
  height: 0.5em;

  background: linear-gradient(
    to right,
    var(--c-lvl1) 0 0.5em,
    var(--c-text-primary) 0.5em calc(0.5em + 1px),
    var(--c-lvl2) calc(0.5em + 1px) calc(1em + 1px),
    var(--c-text-primary) calc(1em + 1px) calc(1em + 2px),
    var(--c-lvl3) calc(1em + 2px) calc(1.5em + 2px),
    var(--c-text-primary) calc(1.5em + 2px) calc(1.5em + 3px),
    var(--c-lvl4) calc(1.5em + 3px) calc(2em + 3px),
    var(--c-text-primary) calc(2em + 3px) calc(2em + 4px),
    var(--c-lvl5) calc(2em + 4px) calc(2.5em + 4px)
  );
}

.score-ladder--lvl1 {
  --color: var(--c-solarized-red);

  --c-lvl1: var(--color);
}

.score-ladder--lvl2 {
  --color: var(--c-solarized-red);

  --c-lvl1: var(--color);
  --c-lvl2: var(--color);
}

.score-ladder--lvl3 {
  --color: var(--c-solarized-yellow);

  --c-lvl1: var(--color);
  --c-lvl2: var(--color);
  --c-lvl3: var(--color);
}

.score-ladder--lvl4 {
  --color: var(--c-solarized-green);

  --c-lvl1: var(--color);
  --c-lvl2: var(--color);
  --c-lvl3: var(--color);
  --c-lvl4: var(--color);
}

.score-ladder--lvl5 {
  --color: var(--c-solarized-green);

  --c-lvl1: var(--color);
  --c-lvl2: var(--color);
  --c-lvl3: var(--color);
  --c-lvl4: var(--color);
  --c-lvl5: var(--color);
}

.group-section__nav {
  display: flex;
}

.group-section__nav__selector {
  --border-color: var(--c-background-hl);

  flex: 0 0 auto;
  border-bottom: solid 2px;
  border-image: linear-gradient(
    to right,
    transparent 5%,
    var(--border-color) 5% 95%,
    transparent 95%
  );
  border-image-slice: 1;
  padding-bottom: calc(var(--gutter-size) / 4);
  color: var(--c-text-secondary);
}

.group-section__nav__selector:not(:first-child) {
  margin-left: var(--gutter-size);
}

.group-section__nav__selector:hover {
  cursor: pointer;
  color: revert;
}

.group-section--experience .group-section__nav__selector--experience,
.group-section--publications .group-section__nav__selector--publications {
  --border-color: var(--c-accent);

  color: revert;
  cursor:revert;
}

.group-section .group-section__content {
  display: none;
}

.group-section--experience .group-section__content--experience,
.group-section--publications .group-section__content--publications {
  display: revert;
}

.filtered-view .filtered-view__content {
  display: none;
}

.filtered-view--all .filtered-view__content,
#publications.filtered-view--english-only .filtered-view__content--english,
#publications.filtered-view--french-only .filtered-view__content--french {
  display: revert;
}

.item-list {
  padding: 0;
  list-style: none;
}

.item-list li:not(:first-child) {
    margin-top: var(--gutter-size);
}

.item-list__entry__header {
  margin-bottom: var(--gutter-size);
}

.item-list__entry {
  --border-width: 2px;
  --border-spacing: calc((1ch / 2) - (var(--border-width) / 2));

  margin-left: var(--border-spacing);
  border-left: solid var(--border-width) var(--c-accent);
  padding-left: var(--border-spacing);
}

.item-list__entry__footer {
  margin-top: var(--gutter-size);
}

.tooltip-anchor {
  position: relative;
}

.tooltip-anchor .tooltip {
  display: none;
}

.tooltip-anchor:hover > .tooltip {
  --vertical-spacing-unit: 1ch;

  z-index: 1;
  display: inline-block;
  position: absolute;
  bottom: calc(100%);
  padding: calc(var(--vertical-spacing-unit) * 0.5) 1ch;
  margin-bottom: calc(var(--vertical-spacing-unit) * 0.5);
  background-color: var(--c-background-hl);
  color: var(--c-text-primary);
  text-align: center;
}

.item-list__entry__footer .tooltip-anchor:hover > .tooltip {
  --vertical-spacing-unit: var(--gutter-size);
}
