@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/material_icons.woff2) format('woff2');
}

.icon::after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2ch;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

.icon.bib-icon::after {
  content: "format_quote";
}

.icon.dark-mode-icon::after {
  content: "dark_mode";
}

.icon.external-link-icon::after {
  content: "launch";
  vertical-align: bottom;
}

.icon.filter-icon::after {
  content: "filter_list";
}

.icon.info-icon::after {
  content: "info";
}

.icon.light-mode-icon::after {
  content: "light_mode";
}

.icon.paper-icon::after {
  content: "description";
}

.icon.poster-icon::after {
  content: "image";
}

.icon.slides-icon::after {
  content: "slideshow";
}

.icon.thanks-icon::after {
  content: "favorite";
}

.icon.thesis-icon::after {
  content: "description";
}
