@media print {
  @page {
    margin: 0.5cm;
  }

  :root {
    --gutter-size: 4px;

    --max-profile-picture-width: 116px;
    --profile-picture-border-width: 8px;
  }

  body.background--light {
    --c-background:     transparent;
    --c-background-hl:  transparent;
    --c-accent:         var(--c-text-primary);
  }

  body.background--dark {
    --c-background:     transparent;
    --c-background-hl:  transparent;
    --c-accent:         var(--c-text-primary);
  }

  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 8pt;
  }

  section {
    margin: 0 var(--gutter-size);
    padding:  0 var(--gutter-size) var(--gutter-size) var(--gutter-size);
  }

  p {
    text-align: justify;
  }

  #information {
    min-heigt: none
  }

  #information .section__header,
  #information .section__content {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - var(--gutter-size) - (var(--max-profile-picture-width) + (var(--profile-picture-border-width) * 2)));
  }

  #information .profile-picture {
    display: inline-block;
    float: right;
    margin: 0;
    border: none;
    width: var(--max-profile-picture-width);
  }

  #skills .section__content {
    display: flex;
  }

  #skills .section__content > * {
    flex: auto;
  }

  #skills .section__content > *:not(:first-child) {
    margin-top: 0;
    margin-left: calc(var(--gutter-size) * 2);
  }

  #publications .item-list__entry.filtered-view__content {
    display: block!important;
  }

  .no-print {
    display: none !important;
  }

  .masked {
    background: revert;
  }

  .group-section__nav__selector {
    display: none;
    border: none;
    padding-bottom: revert;
    color: var(--c-text-bold) !important;
  }

  .group-section__nav__selector:not(:first-child) {
    margin-left: revert;
  }

  .group-section--experience .group-section__nav__selector--experience,
  .group-section--publications .group-section__nav__selector--publications {
    display: inline-block;
  }

  .group-section__nav__selector::after {
    padding-left: 1ch;
    font-size: 0.66em;
    font-weight: normal;
    line-height: 1.5em;
    vertical-align: middle;
    color: var(--c-text-secondary);
  }

  .group-section__nav__selector--experience::after {
    content: "(you can also see the list of my publications at https://adrien-bougouin.github.io)";
  }

  .group-section__nav__selector--publications::after {
    content: "(you can also see the list of my past and current jobs at https://adrien-bougouin.github.io)";
  }

  .group-section .group-section__content {
    display: none;
  }

  .group-section--experience .group-section__content--experience,
  .group-section--publications .group-section__content--publications {
    display: block;
  }

  .score-ladder {
    display: inline;
    border: none;
    background: none;
  }

  .score-ladder--lvl1::before {
    content: "- 1/5";
  }

  .score-ladder--lvl2::before {
    content: "- 2/5";
  }

  .score-ladder--lvl3::before {
    content: "- 3/5";
  }

  .score-ladder--lvl4::before {
    content: "- 4/5";
  }

  .score-ladder--lvl5::before {
    content: "- 5/5";
  }

  .tag {
    border: solid 1px var(--c-text-secondary);
  }
}
