.wovn-languages {
  position: fixed;
  bottom: var(--gutter-size);
  right: var(--gutter-size);
  display: inline-block;
  background-color: var(--c-solarized-green);
}

.wovn-languages .wovn-logo {
  display: inline-block;
  width: 2ch;
  padding: 0 1ch;
}

.wovn-languages .wovn-logo svg {
  width: 100%;
  fill: var(--c-background);
}

.wovn-languages .selector-sequence,
.wovn-languages .selector-sequence .selector {
  border-color: var(--c-solarized-green);
}
